footer.main
  nav
    ul
      li
        a(href="/") simple mode
      li
        a(href="./advanced") advanced mode
      li
        a(href="./troubleshooting") troubleshooting
      li
        a(href="https://metalab.at/wiki/Slackomatic" target="_blank") wiki page
      li
        a(target="_blank" href="http://10.20.30.90:8080/slackomatic/functions/layout") API
      li.blocker
        | bug? report as 
        a(target="_blank" href="https://github.com/screeninvader/slackomatic-frontend/issues") issue
        |  or stomp on it and 
        a(target="_blank" href="https://github.com/screeninvader/slackomatic-frontend/pulls") pull request
      li
        a(href="#" data-path="rooms/lounge/" data-command="powersaving/killswitch/reset") I am still awake :3
