header.main
  div
    a(href="/") 
      img(height="100" src="/img/slackomatic.png" title='slackomatic')
    div.sub
      ul
        li alpha is the new beta
        li
          | enterprise editi
          span.o o
          | n
        li
          | there is n
          span.o o
          |  c
          span.o o
          | w level
        li 
          | sl
          span.o o
          | ths appr
          span.o o
          | ve
        li
          | alm
          span.o o
          | st ready...
        li
          | can y
          span.o o
          | u handle the slack?
