header.main
  img.alpha(src='/img/alpha.png')
  div.container
    a(href='/') 
      img(height='100' src='/img/slackomatic.png' title='slackomatic')
    div.sub
      //.
        every 0, o, O, ! and ? will be pinkified
      ul
        li.visible almost ready...
        li alpha is the new beta
        li enterprise edition
        li there is no cow level
        li sloths approve
        li can you handle the slack?
        li may the slack be with you
        li keep calm and hack on
        li pointy haired boss forced me
        li bofh operated
        li keep calm and slack on
        li slackspaces ftw
        li keep the lasagna flying!
