header.main
  div
    a(href="/") 
      img(height="100" src="/img/slackomatic.png" title='slackomatic')
    div.sub
      ul
        li alpha is the new beta
        li enterprise edition
        li there is no cow level
        li sloths approve
        li almost ready...
        li can you handle the slack?
        li may the slack be with you
        li keep calm and hack on
        li the pointy haired boss forced me to do this
        li bofh operated
        li there is no place like the lounge
        li keep calm and slack on
        li slackspaces ftw
        li keep the lasagna flying!
