doctype html
html
  head
    meta( http-equiv='Content-Type' content='text/html; charset=UTF-8')
    block title
      title slackomatic
    link(rel='stylesheet' type='text/css' href='/css/slackomatic.css') 
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body.slackomatic
    include header
    div.wrapper
      block content
    include footer

    script(src='/js/slackomatic.js')
