include ../mixins

div.troubleshooting.content
  section#faq.faq
    +sectionTitle('Any questions, need help?')
    div.description
      | If you are not familiar with the setup and something doesn't work as expected please
      | ask a fellow hacker/hackette around first before attempting to 'fix it&#0153;' yourself.

  section.video-projector
    +sectionTitle('Video output doesn\'t change on the projector')
    div.description
      | Please be patient, 
      | this problem occurs because the projector sometimes 
      | needs some time to decide what to do next. 
      | Just press the button for the system again after a few seconds.

  section.yamaha-input
    +sectionTitle('Yamaha doesn\'t change input')
    div.description
      | The Yamaha web interface has some stability problems 
      | (requests just time out). 
      | Please power toggle the Yamaha
      | using the physical button on the device itself. 
      | Usually the interface will be available after that.
    
  section.onandoffagain
    +sectionTitle('Also')
    div.description
      | Did you try turning it off and on again?
