footer.main
  nav
    ul
      li
        a(href="/") simple mode
      li
        a(href="/advanced") advanced mode
      li
        a(href="/troubleshooting") troubleshooting
      li
        a(target="_blank" href=":8080/slackomatic/functions/layout") API
      li
        | bug? report as 
        a(target="_blank" href="https://github.com/screeninvader/slackomatic-frontend/issues") issue
        |  or stomp on it and 
        a(target="_blank" href="https://github.com/screeninvader/slackomatic-frontend/pulls") pull request
      li
        a(href="#" data-command="powersaving/killswitch/reset") I am still awake :3
