.slackomatic
  color #FFFFFF
  background-color #000000
  font-family Verdana

.device_name
  color #BC00A7
  font-weight bold
  font-style italic
  text-align left 
  font-family Arial


.device 
  border 3px solid 
  width 500px 
  border-radius 15px 
  background-color #8882BE 
  border-color #BC00A7


.input_select 
  width 100% 
  border-radius 15px 
  -moz-border-radius 15px
  -webkit-border-radius 15px	


a link 
  color #BC00A7


a visited 
  color #BC00A7

