global-reset()

no-child-borders()
  &:first-child
    border-radius 13px
    border-width 3px
  &:nth-child(1n+2)
    border-radius 13px
    border-width 3px
  &:last-child
    border-radius 13px
    border-width 3px

child-borders()
  border-width 3px
  &:first-child
    border-radius 13px 0 0 13px
    border-right-width 1.5px
  &:nth-child(1n+2)
    border-radius 0
    border-right-width 1.5px
    border-left-width 1.5px
  &:last-child
    border-radius 0 13px 13px 0
    border-left-width 1.5px


@import 'include/font'
@import 'include/sanity'

body
  font-size 20px
  color #FFFFFF
  background-color #121212

.wrapper
  background-color #333
  border 3px solid 
  border-color #fff
  border-radius 15px 
  margin 0 auto
  padding 0
  text-align center
  width 90%

  > section
    display inline-block
    width 100%


a,
a:visited 
  color rgb(200,200,200)

h2
  border-top 2px solid #fff
  font-size 1.2em
  font-weight b.3em 0 0old
  text-align center
  padding .2em 0 0

  span
    line-height 1em
    &:first-child
      float left
    &:last-child
      float right

.wrapper
  section:first-child
    h2
      border-top-width 0

h3
  margin .5em 0 0

.device 
  h2
    border-top 0 none

section.sub
  h2
    border-top 0 none
    text-align center


header.main
  width 100%
  text-align center

  img
    max-width 100%

div.description
  clear both
  padding 1em

footer.main
  margin 2.5em 0
  width 100%
  text-align center

  li
    padding .5em
    display block
    width 100%

    a
      color #fff



div.ui
  padding .5em
  input
    background-color rgb(200,200,200)
    display block
    margin .2em 0
    padding .2em
    white-space pre-line
    width 100%
    font-size 1em
    border 3px solid #fff
    font-weight bold
    border-radius 13px

    &.on
      color green
    &.off
      color red
      width 100%

    /* one item */
    &:first-child:nth-last-child(1)
      width 100%

    /* two items*/
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ input
      width 50%
      display inline

      &:first-child
        border-top-right-radius 0
        border-bottom-right-radius 0
        border-right-width 1.5px
      &:last-child
        border-top-left-radius 0
        border-bottom-left-radius 0
        border-left-width 1.5px

    /* three items */
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ input
      width 100%

    /* four items */
    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ input 
      width 100%

    /* five items */
    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ input 
      width 100%
    
    /* six items */
    &:first-child:nth-last-child(6),
    &:first-child:nth-last-child(6) ~ input 
      width 100%

    /* seven items */
    &:first-child:nth-last-child(7),
    &:first-child:nth-last-child(7) ~ input 
      width 100%

    /* eight items */
    &:first-child:nth-last-child(8),
    &:first-child:nth-last-child(8) ~ input 
      width 100%
    
    /* nine items */
    &:first-child:nth-last-child(9),
    &:first-child:nth-last-child(9) ~ input 
      width 100%
    
    /* ten items */
    &:first-child:nth-last-child(10),
    &:first-child:nth-last-child(10) ~ input 
      width 100%

section#system
  section.sub.games
    width 30%
    float left
  section.sub.local
    width 70%
    float right

@media all and (max-width 600px)
  .wrapper 
    > section
      transition opacity .5s, height .5s
      max-height 100%

      &.hidden
        cursor pointer
        max-height 40px
        overflow hidden

        div, input, section.sub
          opacity 0
          height 0


@media all and (min-width 600px)
  body
    .wrapper
      section
        div.ui
          input
            /* three items */
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ input
              width 33.333%
              display inline
              float left
              child-borders()

            /* four items */
            &:first-child:nth-last-child(4),
            &:first-child:nth-last-child(4) ~ input 
              width 24.99%
              display inline
              float left
              child-borders()

        section.sub
          &.projectorblank,
          &.projector,
          &.tv,
          &.yamaha,
          &.metacade,
          &.lamp1
            width 33.333%
            display inline-block

    footer.main
      li
        display inline
        width auto

        &.blocker
          display block

@media all and (min-width 800px)
  body
    font-size 19px

    div.wrapper
      div.ui
        input
          /* five items */
          &:first-child:nth-last-child(5),
          &:first-child:nth-last-child(5) ~ input
            width 19.9%
            display inline
            float left
            child-borders()


      section#projector
        section.sub
          width 33%
          float left

      section#device
        width 30%
        float left

      section#system
        width 70%
        float right
        border-left 2px solid #fff

        h3
          margin 0

        div.ui
          ~ input
            width 33.333%
            display inline
            float left
            no-child-borders()

        section.sub
          float left
          &.entertainment
            width 35%
            input
              no-child-borders()
          &.games
            width 30%
          &.local
            width 35%

          div.ui
            input
              width 100%
              border-radius 13px

        h2
          border-top-width 0
      
      section.volume
        width 30%
        float left
      section#lighting
        width 70%
        border-left 2px solid #fff
        float right


@media all and (min-width 900px)
  body
    font-size 18px
    div.wrapper
      section.sub
        &.projectorblank,
        &.projector,
        &.tv,
        &.yamaha,
        &.metacade,
        &.lamp1
          width 16.666%
          display inline-block


@media all and (min-width 1200px)
  body
    font-size 18px
    div.wrapper
      div.ui
        input
          padding .2em
          margin .2em 0
          /* six items */
          &:first-child:nth-last-child(6),
          &:first-child:nth-last-child(6) ~ input
            width 15%
            display inline
            float left
            child-borders()

      section#device
        width 20%
        float left

      section#system
        width 60%
        float right
        border-left 2px solid #fff

      section#volume
        width 20%
        float left
        border-left 2px solid #fff

        h2
          border-top-width 0

      section#lighting
        width 40%
