no-child-borders()
  &:first-child
    border-radius 13px
    border-width 3px
  &:nth-child(1n+2)
    border-radius 13px
    border-width 3px
  &:last-child
    border-radius 13px
    border-width 3px

child-borders()
  border-width 3px
  &:first-child
    border-radius 13px 0 0 13px
    border-right-width 1.5px
  &:nth-child(1n+2)
    border-left-width 1.5px
    border-radius 0
    border-right-width 1.5px
  &:last-child
    border-left-width 1.5px
    border-radius 0 13px 13px 0


global-reset()

@import 'include/sanity'

body
  background-color #121212
  color #FFFFFF
  font-size 20px

body, input
  font-family 'Ubuntu Mono', 'Segoe UI', 'Lucida Grande', monospace, sans-serif !important

a,
a:visited 
  color rgb(200,200,200)

h2
  border-top 2px solid #fff
  font-size 1.2em
  padding .2em 0 0
  text-align center
  margin 0 0 .5em


header.section
  h2
    &:before
      content '\25B6'
      float left
    &:after
      content '\25C0'
      float right

body
  #notices
    .notice
      font-size 15px
      left 0
      opacity 0
      position fixed
      text-align center
      top -30px
      transition top .5s, opacity .5s
      width 100%
      line-height 2em
      z-index 0

      &.visible
        opacity 1
        top 0
        z-index 1

  #error
    color #fff
    background-color #b00
    border-bottom 2px solid #800

  #success
    color #fff
    background-color #0c0
    border-bottom 2px solid #080

.wrapper
  margin 0 1em

  .content
    background-color #333
    border 3px solid 
    border-color #fff
    border-radius 15px 
    margin 0 auto
    padding 0
    text-align center
    width 90%
    display none

    &.active
      display block
      opacity 1
      height auto
      width auto

    > section
      display inline-block
      width 100%

    section:first-child
      h2
        border-top-width 0

h3
  margin .5em 0 0

.device 
  h2
    border-top 0 none

section.sub
  h2
    border-top 0 none
    text-align center


header.main
  text-align center
  width 90%
  margin 0 auto

  img.alpha
    position absolute
    right 0

  div.container
    z-index 1
    display inline-block
    position relative

    img
      max-width 100%

    .sub
      font-size .9em
      margin -24px 0 0
      position absolute
      width 100%

      li
        left 0
        opacity 0
        position absolute
        transition opacity .1s
        color #69b4da
        width 100%
        text-align center

        &.visible
          opacity 1
          transition opacity .5s

        span.pinkie
          color #fd339b

div.description
  clear both
  padding 1em

footer.main
  margin 2.5em 0
  width 100%
  text-align center

  nav
    display inline-block

  li
    display block
    padding .5em
    width 100%

    a
      color #fff

div.ui
  padding 0 .5em .5em
  display inline-block
  width 100%

  input
    background-color rgb(200,200,200)
    border 3px solid #fff
    border-radius 13px
    display block
    font-size 1em
    margin .2em 0
    padding .2em
    white-space pre-line
    width 100%

    &.on
      color green
    &.off
      color red
      width 100%

    /* one item */
    &:first-child:nth-last-child(1)
      width 100%

    /* two items*/
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ input
      display inline
      width 50%

      &:first-child
        border-bottom-right-radius 0
        border-right-width 1.5px
        border-top-right-radius 0
      &:last-child
        border-bottom-left-radius 0
        border-left-width 1.5px
        border-top-left-radius 0

    /* three items */
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ input
      width 100%

    /* four items */
    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ input 
      width 100%

    /* five items */
    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ input 
      width 100%
    
    /* six items */
    &:first-child:nth-last-child(6),
    &:first-child:nth-last-child(6) ~ input 
      width 100%

    /* seven items */
    &:first-child:nth-last-child(7),
    &:first-child:nth-last-child(7) ~ input 
      width 100%

    /* eight items */
    &:first-child:nth-last-child(8),
    &:first-child:nth-last-child(8) ~ input 
      width 100%
    
    /* nine items */
    &:first-child:nth-last-child(9),
    &:first-child:nth-last-child(9) ~ input 
      width 100%
    
    /* ten items */
    &:first-child:nth-last-child(10),
    &:first-child:nth-last-child(10) ~ input 
      width 100%

.hidden
  display none

@import system

@import timetable

@media all and (max-width 400px)  
  body  
    font-size 15px 

  ul li  
    padding 0.5em 1em 

    span:first-child  
      width 90% 


@media all and (max-width 250px)  
  body  
    font-size 12px 



@media all and (max-width 600px)
  body
    .wrapper 
      .content
        > section
          max-height 100%

          div
            overflow hidden
            max-height 100%
            opacity 1

          &.hidden
            cursor pointer
            display block

            div,
            section.sub,
            section.sub h3
              display none


@media all and (min-width 600px)
  body
    .wrapper
      section
        div.ui
          input
            /* three items */
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ input
              display inline
              float left
              width 33.333%
              child-borders()

            /* four items */
            &:first-child:nth-last-child(4),
            &:first-child:nth-last-child(4) ~ input 
              display inline
              float left
              width 24.99%
              child-borders()

        section.sub
          &.projectorblank,
          &.projector,
          &.tv,
          &.yamaha,
          &.metacade,
          &.lamp1
            float left
            width 33.333%

    footer.main
      li
        display inline
        width auto

        &.blocker
          display block

@media all and (min-width 800px)
  body
    font-size 19px

    div.wrapper
      div.ui
        input
          /* five items */
          &:first-child:nth-last-child(5),
          &:first-child:nth-last-child(5) ~ input
            display inline
            float left
            width 19.9%
            child-borders()


      section#projector
        section.sub
          float left
          width 33%

      section#device
        float left
        width 30%

      section#system
        border-left 2px solid #fff
        float right
        width 70%

        h3
          margin 0

        div.ui
          ~ input
            display inline
            float left
            width 33.333%
            no-child-borders()

        section.sub
          float left
          &.entertainment
            width 35%
            input
              no-child-borders()
          &.games
            width 30%
          &.local
            width 35%

          div.ui
            input
              border-radius 13px
              width 100%

        h2
          border-top-width 0
      
      section.volume
        float left
        width 30%

      section#lighting
        display inline-block
        width 100%

      section#nec section.sub
        width 50%
        float left

      section#yamaha
        section.sub
          width 50%
          float left

      section#source 
        div.ui
          input
            &:first-child:nth-last-child(6), 
            &:first-child:nth-last-child(6) ~ input
              width 16.667%
              float left
              child-borders()

@media all and (min-width 900px)
  body
    font-size 18px
    div.wrapper
      section.sub
        &.projectorblank,
        &.projector,
        &.tv,
        &.yamaha,
        &.metacade,
        &.lamp1
          display inline-block
          width 16.666%

    

@media all and (min-width 1200px)
  body
    font-size 18px
    div.wrapper
      div.ui
        input
          margin .2em 0
          padding .2em
          /* six items */
          &:first-child:nth-last-child(6),
          &:first-child:nth-last-child(6) ~ input
            display inline
            float left
            width 15%
            child-borders()

      section#device
        float left
        width 20%

      section#system
        border-left 2px solid #fff
        float right
        width 60%

      section#volume
        border-left 2px solid #fff
        float left
        width 20%

        h2
          border-top-width 0

      section#lighting
        width 40%

      section#powerSaving
        display inline-block
        width 100%

      section#projector 
        width 50%
        float left

        section.sub
          width 33%
          float left

      section#input
        width 50%
        float right
        border-left 3px solid #fff

        h2
          border-top 0 none

        div.ui
          margin 2em 0 0

      section#nec
        section.sub
          width 25%
          float left

          &.aspect
            width 50%

      section#source
        section.sub
          width 33%
          float left

.i:before
  float left
