global-reset()

no-child-borders()
  &:first-child
    border-radius 13px
    border-width 3px
  &:nth-child(1n+2)
    border-radius 13px
    border-width 3px
  &:last-child
    border-radius 13px
    border-width 3px

child-borders()
  border-width 3px
  &:first-child
    border-radius 13px 0 0 13px
    border-right-width 1.5px
  &:nth-child(1n+2)
    border-left-width 1.5px
    border-radius 0
    border-right-width 1.5px
  &:last-child
    border-left-width 1.5px
    border-radius 0 13px 13px 0

@import 'include/font'
@import 'include/sanity'

body
  background-color #121212
  color #FFFFFF
  font-size 20px

.wrapper
  background-color #333
  border 3px solid 
  border-color #fff
  border-radius 15px 
  margin 0 auto
  padding 0
  text-align center
  width 90%

  > section
    display inline-block
    width 100%

a,
a:visited 
  color rgb(200,200,200)

h2
  border-top 2px solid #fff
  font-size 1.2em
  font-weight b.3em 0 0old
  padding .2em 0 0
  text-align center

  span
    line-height 1em
    &:first-child
      float left
    &:last-child
      float right

body
  #notices
    .notice
      font-size 15px
      left 0
      opacity 0
      position fixed
      text-align center
      top -30px
      transition top .5s, opacity .5s
      width 100%
      line-height 2em
      z-index 0

      &.visible
        opacity 1
        top 0
        z-index 1

  #error
    color #fff
    background-color #b00
    border-bottom 2px solid #800

  #success
    color #fff
    background-color #0c0
    border-bottom 2px solid #080

.wrapper
  section:first-child
    h2
      border-top-width 0

h3
  margin .5em 0 0

.device 
  h2
    border-top 0 none

section.sub
  h2
    border-top 0 none
    text-align center


header.main
  text-align center
  width 100%

  img
    max-width 100%

div.description
  clear both
  padding 1em

footer.main
  margin 2.5em 0
  width 100%
  text-align center

  li
    display block
    padding .5em
    width 100%

    a
      color #fff



div.ui
  padding .5em
  input
    background-color rgb(200,200,200)
    border 3px solid #fff
    border-radius 13px
    display block
    font-size 1em
    font-weight bold
    margin .2em 0
    padding .2em
    white-space pre-line
    width 100%

    &.on
      color green
    &.off
      color red
      width 100%

    /* one item */
    &:first-child:nth-last-child(1)
      width 100%

    /* two items*/
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ input
      display inline
      width 50%

      &:first-child
        border-bottom-right-radius 0
        border-right-width 1.5px
        border-top-right-radius 0
      &:last-child
        border-bottom-left-radius 0
        border-left-width 1.5px
        border-top-left-radius 0

    /* three items */
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ input
      width 100%

    /* four items */
    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ input 
      width 100%

    /* five items */
    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ input 
      width 100%
    
    /* six items */
    &:first-child:nth-last-child(6),
    &:first-child:nth-last-child(6) ~ input 
      width 100%

    /* seven items */
    &:first-child:nth-last-child(7),
    &:first-child:nth-last-child(7) ~ input 
      width 100%

    /* eight items */
    &:first-child:nth-last-child(8),
    &:first-child:nth-last-child(8) ~ input 
      width 100%
    
    /* nine items */
    &:first-child:nth-last-child(9),
    &:first-child:nth-last-child(9) ~ input 
      width 100%
    
    /* ten items */
    &:first-child:nth-last-child(10),
    &:first-child:nth-last-child(10) ~ input 
      width 100%

section#system
  section.sub.games
    float left
    width 30%
  section.sub.local
    float right
    width 70%

@media all and (max-width 600px)
  body
    .wrapper 
      > section
        max-height 100%
        transition all .5s

        div
          overflow hidden
          max-height 100%
          opacity 1
          transition all .5s

        &.hidden
          cursor pointer
          max-height 40px

          div,
          section.sub,
          section.sub h3
            max-height 0
            opacity 0
            padding 0
            margin 0


@media all and (min-width 600px)
  body
    .wrapper
      section
        div.ui
          input
            /* three items */
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ input
              display inline
              float left
              width 33.333%
              child-borders()

            /* four items */
            &:first-child:nth-last-child(4),
            &:first-child:nth-last-child(4) ~ input 
              display inline
              float left
              width 24.99%
              child-borders()

        section.sub
          &.projectorblank,
          &.projector,
          &.tv,
          &.yamaha,
          &.metacade,
          &.lamp1
            display inline-block
            width 33.333%

    footer.main
      li
        display inline
        width auto

        &.blocker
          display block

@media all and (min-width 800px)
  body
    font-size 19px

    div.wrapper
      div.ui
        input
          /* five items */
          &:first-child:nth-last-child(5),
          &:first-child:nth-last-child(5) ~ input
            display inline
            float left
            width 19.9%
            child-borders()


      section#projector
        section.sub
          float left
          width 33%

      section#device
        float left
        width 30%

      section#system
        border-left 2px solid #fff
        float right
        width 70%

        h3
          margin 0

        div.ui
          ~ input
            display inline
            float left
            width 33.333%
            no-child-borders()

        section.sub
          float left
          &.entertainment
            width 35%
            input
              no-child-borders()
          &.games
            width 30%
          &.local
            width 35%

          div.ui
            input
              border-radius 13px
              width 100%

        h2
          border-top-width 0
      
      section.volume
        float left
        width 30%
      section#lighting
        float right
        width 70%


@media all and (min-width 900px)
  body
    font-size 18px
    div.wrapper
      section.sub
        &.projectorblank,
        &.projector,
        &.tv,
        &.yamaha,
        &.metacade,
        &.lamp1
          display inline-block
          width 16.666%

    

@media all and (min-width 1200px)
  body
    font-size 18px
    div.wrapper
      div.ui
        input
          margin .2em 0
          padding .2em
          /* six items */
          &:first-child:nth-last-child(6),
          &:first-child:nth-last-child(6) ~ input
            display inline
            float left
            width 15%
            child-borders()

      section#device
        float left
        width 20%

      section#system
        border-left 2px solid #fff
        float right
        width 60%

      section#volume
        border-left 2px solid #fff
        float left
        width 20%

        h2
          border-top-width 0

      section#lighting
        width 40%
