section#system
  section.sub
    &.entertainment
      div.ui
        input
          width 100%
          no-child-borders()

    &.sub.games
      float left
      width 30%
    &.sub.local
      float right
      width 70%

  .troubleshooting
    p
      margin 0 0 1em
